<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BaconYao-FirstVue</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/vue"></script>

</head>
<body>
  <div id='app'>
    <ul>
      <li v-for="(ingredient, index) in ingredients" :key="ingredient">{{ ingredient }} ({{ index }})</li>
    </ul>
    <button @click="ingredients.push('spices')">Add New</button>
    <hr>
    <ul>
      <li v-for="person in persons">
        <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
      </li>
    </ul>
    <hr>
    <template v-for="(ingredient, index) in ingredients">
      <h1>{{ ingredient }}</h1>
      <p>index: {{ index }}</p>
    </template>

    <span v-for="n in 10">{{ n }}</span>

  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        ingredients: ['meat', 'fruit', 'cookie'],
        persons: [
          {name: 'Max', age: 27, color: 'red'},
          {name: 'Anna', age: 'unknown', color: 'blue'}
        ]
      }
    });
  </script>
</body>
</html>
